n8nexus-Backend/n8n_templates/webhook_ai.json
{
  "name": "AI Assistant Demo",
  "nodes": [
    {
      "parameters": {
        "path": "ai-chat",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "ai-chat-demo"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "reply",
              "value": "AI workflow executed successfully"
            }
          ]
        }
      },
      "id": "2",
      "name": "Mock AI Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [550, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "id": "3",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Mock AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock AI Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
